<div id="gamemenu" class="gamemenu">
	<ul>
		<li><a id="pinpointDefect" href="" class="pinpointDefect" ng-click="pinpointDefect()">Pin</a></li>
		<li><a href="" class="{{minorDefect}}" ng-click="setMinor()">Minor</a></li>
		<li><a href="" class="{{majorDefect}}" ng-click="setMajor()">Major</a></li>
		<li><div id="dropdown">
			    <!-- trigger button -->
			    <button>Type <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></button>
			    <!-- dropdown menu -->
			    <ul id="dropdown-menu">
			        <li><a href="" ng-click="selectType('Erro1')">Erro1</a></li>
			        <li><a href="" ng-click="selectType('Erro2')">Erro2</a></li>
			        <li><a href="" ng-click="selectType('Erro3aaaaaaaaaaaaaaaaaaaaaaaa')">Erro3</a></li>
			    </ul>
			</div>
		</li>
	</ul>
</div>
<div id="sidemenu" class="sidemenu">
	<h3 id="selectedtypetitle">Selected Type</h3>
	<div id="selectedtype"><span ng-if="selectedType == ''"> - </span><span ng-if="selectedType != ''">{{selectedType}}</span></div>
	<div id="gameinfo">
		<h1>{{gameMode | capitalize}}</b></h1>
		<h3>Game #{{gameID}}</h3>
	</div>
	<div>
		<h2 id="showtime">Time - {{hours}}:{{minutes}}:{{seconds}}</h2>
		<ul id="finishbutton">
			<li><button ng-click="confirmEnd()" class="btn btn-info btn-lg">Done</button></li>
		</ul>
		<h2 id="foundtitle">Found</h2>
		<div id="listofdefects" class="listofdefects">
			<ul>
				<li ng-repeat="defect in defects | orderBy:'begin'" ng-class="{minorDefectListed: defect.type == 0, majorDefectListed: defect.type == 1}">
					<table class="defectlisttable"><tr id="{{defect.id}}"><td id="defectdescriptioncell"><a href="" ng-click="jumpToDefect(defect.id)">{{defect.description}}</a></td><td id="removedefectcell"><a ng-mouseenter="hoverRemoveButton(defect.id)" ng-mouseleave="leaveRemoveButton(defect.id)" ng-click="removeDefect(defect.id)" href="">X</a></td></tr></table>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="game">
<pre id="code">LinkedList.java

package esof.utils;

/**
 * Represents a linked list of values (objects) of any type T.
 * Supports appending and traversing the list sequentially.
 * Changed to also support inserting and retrieving values by
 * position and finding a value in the list.
*/
public class LinkedList&lt;T&gt; {
	private Node&lt;T&gt; firstNode = null;
	private Node&lt;T&gt; lastNode = null;
	intlength = 0;

	/**
	 * Appends a value "x" at the end of the list.
	 */
	public void append(T x) {
		Node&lt;T&gt; newNode = new Node&lt;T&gt;(x);
		if (firstNode == null)
			firstNode = newNode;
		else
			lastNode.setNextNode(newNode);
		lastNode = newNode;
	}
	/**
	 * Retrieves the first node in the list (null if list is empty).
	 * To get the value in that node and next node, see class Node.
	*/
	public Node&lt;T&gt; getFirstNode(){
		return firstNode;
	}

	/**
	 * Retrieves the value in position "n" of list (0 to length-1).
	*/
	public T getNthValue(int n){
		Node&lt;T&gt; node = firstNode;
		for (int i = 0; i &lt; n; i++)
			node = node.getNextNode();
		return node.getValue();
	}

	/**
	 * Inserts value "x" in position "n" of the list (0 to length).
	*/
	public void insert(T x, int n){
		Node&lt;T&gt; newNode = new Node&lt;T&gt;(x);
		if (n == 0) {
			newNode.setNextNode(firstNode);
			firstNode = newNode;
		} else {
			Node&lt;T&gt; prev = firstNode;
			for (int i = 0; i &lt; n; i++)
				prev = prev.getNextNode();
			prev.setNextNode(newNode);
		}
	} 

	/**
	 * Retrieves the position of the first occurrence of value "x"
	 * in the list (between 0 and length), or -1 if not found.
	*/
	public int find(T x){
		int index = -1;
		Node&lt;T&gt; node = firstNode;
		while (node != null &amp;&amp; node.getValue().equals(x)) {
			node = node.getNextNode();
			index++;
		} return index;
	}
}

Node.java\

package esof.utils;

/**
 * Represents a node in a linked list of values (objects) of type T.
*/
public class Node&lt;T&gt; {
	private T value;
	private Node&lt;T&gt; nextNode;

	/**
	 * Creates a new node containing a value "x".
	 * Should only be called from LinkedList.
	 */
	Node(T x) {
		value = x;
		nextNode = null;
	}

	/**
	 * Sets the next node.
	 * Should only be called from LinkedList.
	 */
	void setNextNode(Node&lt;T&gt; nextNode) {
		this.nextNode = nextNode;
	}

	/**
	 * Retrieves the value stored in this node.
	 */
	public T getValue(){
		returnvalue;
	}

	/**
	 * Retrieves the next node (null if there is none).
	 */
	public Node&lt;T&gt; getNextNode(){
		returnnextNode;
	}
}</pre>
</div>