<div class="gamelist">
	<div class="listedgame">
		<ul>
			<li>{{user}} - <a ng-click="logout()" href="">Logout</a></li>
		</ul>
	<div>
	<br>
	<br>
	<br>
	<br>
	<div class="listedgame">
		<table>
			<tr>
				<td>Game ID</td>
				<td>Teacher</td>
			</tr>
			<tr>
				<td><a ng-click="goToChallengeGame()" href="">Challenge</a></td>
				<td><a ng-click="goToChallengeRanking()" href="">Ranking</a></td>
			</tr>
			<tr>
				<td><a ng-click="goToTeamGame()" href="">Team</a></td>
				<td><a ng-click="goToTeamRanking()" href="">Ranking</a></td>
			</tr>
		</table>
	</div>
</div>