<div class="listedgame">
	<table>
		<tr><td>{{myname}}</td><td>-</td><td><a ng-click="logout()" href="">Logout</a></td></tr>
	</table>
<div>
<div class="gamelist">
	<br>
	<br>
	<br>
	<br>
	<div class="listedgame">
		<table border="2">
			<tr>
				<td>Game #1</td>
				<td>Prof. X</td>
				<td>Available</td>
			</tr>
			<tr>
				<td><a ng-click="goToChallengeGame(1)" href="">Challenge</a></td>
				<td>30 minutes</td>
				<td><a ng-click="goToChallengeRanking(1)" href="">Ranking</a></td>
			</tr>
			<tr>
				<td><a ng-click="goToTeamGame(1)" href="">Team</a></td>
				<td>1 hour</td>
				<td><a ng-click="goToTeamRanking(1)" href="">Ranking</a></td>
			</tr>
		</table>
	</div>
	<br>
	<br>
</div>
<div>
	<button class="btn btn-info" ng-click="testConnection()">Test</button>
</div>