<div id="sidemenu" class="sidemenu">
	<div id="gameinfo">
		<h1>MEETING</b></h1>
		<h3>Game #{{gameID}}</h3>
	</div>
	<div id="chat" class="chat">
		<textarea name="chatlog" disabled></textarea>
		<input type="text" name="msgtosend">
	</div>
	<div id="showtime" class="sidemenuinfo">
		<h2>Time - {{hours}}:{{minutes}}:{{seconds}}</h2>
		<ul id="finishbutton">
			<li><button ng-click="confirmEnd()" class="btn btn-info btn-lg">Done</button></li>
		</ul>
		<h2 id="foundtitle">Found</h2>
		<div id="listofdefects" class="listofdefects">
			<ul>
				<li ng-repeat="defect in defects | orderBy:'position'" ng-class="{ 'unselectedDefectListed' : defect.active == false , 'minorDefectListed' : (defect.type == 0 && defect.active == true) , 'majorDefectListed' : (defect.type == 1 && defect.active == true) }">
					<table>
						<tr>
							<td ng-class="defectcell">
								<a href="" ng-click="jumpToDefect(defect.id)">{{defect.description}}</a>
							</td>
							<td ng-class="removecell">
								<span ng-if="role">
									<table class="votingbuttons">
										<tr>
											<td>
												<a ng-click="toggleSelectionDefect(defect.id)" href="">
													<span ng-if="defect.active == false">Pick</span><span ng-if="defect.active == true">Unpick</span>
												</a>
											</td>
											<td><a href="">{{defect.upVotes}} - {{defect.downVotes}}</a></td>
										</tr>
									</table>
								</span>
								<span ng-if="role == false">
									<table class="votingbuttons">
										<tr>
											<td ng-class="upVoted(defect.id) ? 'upvoted' : ''"><a ng-click="voteDefectUp(defect.id)" href="">{{defect.upVotes}}</a></td>
											<td ng-class="downVoted(defect.id) ? 'downvoted' : ''"><a ng-click="voteDefectDown(defect.id)" href="">{{defect.downVotes}}</a></td>
										</tr>
									</table>
								</span>
							</td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="game">
<pre id="code">LinkedList.java

package esof.utils;

/**
 * Represents a linked list of values (objects) of any type T.
 * Supports appending and traversing the list sequentially.
 * Changed to also support inserting and retrieving values by
 * position and finding a value in the list.
*/
public class LinkedList&lt;T&gt; {
	private Node&lt;T&gt; firstNode = null;
	private Node&lt;T&gt; lastNode = null;
	intlength = 0;

	/**
	 * Appends a value "x" at the end of the list.
	 */
	public void append(T x) {
		Node&lt;T&gt; newNode = new Node&lt;T&gt;(x);
		if (firstNode == null)
			firstNode = newNode;
		else
			lastNode.setNextNode(newNode);
		lastNode = newNode;
	}
	/**
	 * Retrieves the first node in the list (null if list is empty).
	 * To get the value in that node and next node, see class Node.
	*/
	public Node&lt;T&gt; getFirstNode(){
		return firstNode;
	}

	/**
	 * Retrieves the value in position "n" of list (0 to length-1).
	*/
	public T getNthValue(int n){
		Node&lt;T&gt; node = firstNode;
		for (int i = 0; i &lt; n; i++)
			node = node.getNextNode();
		return node.getValue();
	}

	/**
	 * Inserts value "x" in position "n" of the list (0 to length).
	*/
	public void insert(T x, int n){
		Node&lt;T&gt; newNode = new Node&lt;T&gt;(x);
		if (n == 0) {
			newNode.setNextNode(firstNode);
			firstNode = newNode;
		} else {
			Node&lt;T&gt; prev = firstNode;
			for (int i = 0; i &lt; n; i++)
				prev = prev.getNextNode();
			prev.setNextNode(newNode);
		}
	} 

	/**
	 * Retrieves the position of the first occurrence of value "x"
	 * in the list (between 0 and length), or -1 if not found.
	*/
	public int find(T x){
		int index = -1;
		Node&lt;T&gt; node = firstNode;
		while (node != null &amp;&amp; node.getValue().equals(x)) {
			node = node.getNextNode();
			index++;
		} return index;
	}
}

Node.java\

package esof.utils;

/**
 * Represents a node in a linked list of values (objects) of type T.
*/
public class Node&lt;T&gt; {
	private T value;
	private Node&lt;T&gt; nextNode;

	/**
	 * Creates a new node containing a value "x".
	 * Should only be called from LinkedList.
	 */
	Node(T x) {
		value = x;
		nextNode = null;
	}

	/**
	 * Sets the next node.
	 * Should only be called from LinkedList.
	 */
	void setNextNode(Node&lt;T&gt; nextNode) {
		this.nextNode = nextNode;
	}

	/**
	 * Retrieves the value stored in this node.
	 */
	public T getValue(){
		returnvalue;
	}

	/**
	 * Retrieves the next node (null if there is none).
	 */
	public Node&lt;T&gt; getNextNode(){
		returnnextNode;
	}
}</pre>
</div>