<div class="listedgame">
	<table>
		<tr><td><a ng-click="goToHome()" href="">Home</a></td><td>{{myname}}</td><td>-</td><td><a ng-click="logout()" href="">Logout</a></td></tr>
	</table>
<div>
<div class="gamelist">
	<br>
	<br>
	<br>
	<br>
	<div class="listedgame">
		<table>
			<tr>
				<td>Player</td>
				<td>Defects</td>
				<td>Time</td>
				<td>Score</td>
			</tr>
			<tr>
				<td>ABC</td>
				<td>10/10</td>
				<td>30 minutes</td>
				<td>100</td>
			</tr>
			<tr>
				<td>123</td>
				<td>9/10</td>
				<td>50 minutes</td>
				<td>88</td>
			</tr>
		</table>
	</div>
</div>