<div class="listedgame">
	<table>
		<tr><td><a ng-click="goToHome()" href="">Home</a></td><td>{{myname}}</td><td>-</td><td><a ng-click="logout()" href="">Logout</a></td></tr>
	</table>
<div>
<div class="gamelist">
	<br>
	<br>
	<br>
	<br>
	<div class="listedgame">
		<table>
			<tr>
				<td>Team</td>
				<td>Found</td>
				<td>Missed</td>
				<td>Incomplete</td>
				<td>Wrong</td>
				<td>Time</td>
				<td>Score</td>
			</tr>
			<tr ng-repeat="result in results | orderBy:'-classification'">
				<td>{{result.id_team}}</td>
				<td>{{result.hits}}</td>
				<td>{{result.misses}}</td>
				<td>{{result.incomplete}}</td>
				<td>{{result.wrong}}</td>
				<td>{{result.minutes}}m {{result.seconds % 60}}s ({{result.seconds}}s total)</td>
				<td>{{result.classification / 100}}%</td>
			</tr>
		</table>
	</div>
</div>